<!DOCTYPE html>
<html lang="zh-CN" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.pollix.at/thymeleaf/shiro ">

    <head>
        <meta charset="utf-8"/>
        <title>墨裔代码片</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="代码片" name="description"/>
        <meta content="代码片" name="author"/>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    </head>
    <body>

    </body>
</html>
<script src="scripts.load.js"></script>

